<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<p>
  <%= @post.body %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_post_path(@post) , class: 'btn btn-default'%>
<%= link_to "Delete", @post, method: :delete, data:{ confirm: "are you sure"}, class: 'btn btn-default' %>
<%end%> |
<%= link_to 'Back', posts_path %>

<%= social_share_button_tag(@post.title) %>
