<!DOCTYPE html>
<html>
<head>
  <title>BlogYt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
<%= link_to "<BLog>", root_path, class:'navbar-brand' %>
  <p class="navbar-right navbar-text">
    <% if user_signed_in? %>
    <%= link_to "New Post", new_post_path , class: 'navbar-link '%>
    <%= link_to "Log Out",  destroy_user_session_path, class: 'navbar-link ' %>
    <% else%>
    <%= link_to "Log In", new_user_session_path, class: 'navbar-link' %>
    <%end%>
    </p>


</nav>
<div class="col-md-10 col-md-offset-1">
<%= yield %>
</div>
<div>
<% if user_signed_in? %>
<% else%>
<h3>contact</h3>
<div class="cbox">
<%= link_to '<i style="font-size:24px" class="fa">&#xf09b;</i>'.html_safe, "https://github.com/Ebinu-S", :target => "_blank", class: 'sl' %>
<%= link_to '<i style="font-size:24px" class="fa">&#xf16d;</i>'.html_safe, "https://www.instagram.com/dr.retr0_o/", :target => "_blank",class: 'sl' %>
</div>
<%end%>
</div>
</body>
</html>
