<!DOCTYPE html>
<html>
<head>
  <title>BlogYt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
<%= link_to "<BLog>", root_path, class:'navbar-brand' %>
<div class="container">
  <p class="navbar-text navbar-right">
  <% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
  <% else%>
  <%= link_to "Log In", new_user_session%>
  <%end%>
  </p>
</div>

</nav>
<div class="col-md-10 col-md-offset-1">
<%= yield %>
</div>
</body>
</html>
